.LFS {
    max-width: 1300px;
    border-radius: 8px;
    padding: 10px;
    background-image: url("https://www.hdwallpapers.in/download/avengers_endgame_scarlet_witch_team_4k_8k-HD.jpg");
    background-size: cover;
    box-shadow: 0 0 5px 5px rgba(255, 217, 2, 0.8);
    min-height:1250px ;
}

@media (max-width:460px) {
    .LFS{
        padding: 0;
    }
    
}