.Vd{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Vd > video{
    width: clamp(200px,90%,700px);
    min-height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px skyblue;
}