.mesDiv {
  margin-left: 10px;
  padding: 20px;
  width:400px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: rgba(2, 1, 14, 0.8);
  box-shadow: 0 0 5px 5px rgb(69, 158, 69);
  border-radius: 8px;
}
.mesDiv div {
  width: 95%;
  height: 300px;
  overflow-y: auto;
  display: flex;
  background-color: transparent;
  color: aliceblue;
  list-style: none;
  flex-direction: column;
  gap: 5px;
}
.mesDiv p {
  padding: 10px;
}
.mesDiv form{
    width: 95%;
    gap: 10px;
    display: flex;
}
.mesDiv textarea {
  outline: none;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  resize: none;
}
.mesDiv button {
  width: 100px;
  font-size: 18px;
  height: 41px;
  border-radius: 5px;
  border: 1px solid rgba(58, 58, 58, 0.8);
  cursor: pointer;
  font-family: cursive;
  transition: 0.5s;
}
.mesDiv button:hover{
  background-color: rgb(183, 194, 26);
  color: aliceblue;
  border: 2px solid;
}