@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel&family=Cormorant&family=Handlee&family=Marhey&family=Michroma&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.addFilm {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addFilm form {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(20, 46, 49, 0.7);
    box-shadow: 0px 0px 5px 5px #D7E0D7
}

@media (max-width:387px) {
    .addFilm form{
        padding: 0;
    }  
}

.addFilm form h2 {
    text-align: center;
    color: yellow;
    letter-spacing: 1px;
    font-family: Michroma;
    padding: 5px;
    border-radius: 5px;

}

.addFilm form input {
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    min-width: 200px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
}

.addFilm form input::placeholder {
    color: black;
    font-family: cursive;

}

.addFilm form textarea {
    outline: none;
    width: 100%;
    padding: 10px 0 0 10px;
    border-radius: 5px;
    resize: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
}

.addFilm form textarea::placeholder {
    color: black;
    font-family: cursive;
}

.addFilm form p {
    color: rgb(255, 255, 255);

}

.addFilm form select {
    outline: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(8, 8, 8);
    padding: 5px;
    font-family: cursive;
}

.addFilm form button {
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 9px;
    position: relative;
    background-color: rgba(46, 46, 46, 0.5);
    transition: 0.5s;
    border: 2px solid rgb(190, 54, 54);
    color: rgb(197, 61, 61);
    font-family: Bangers;
    letter-spacing: 3px;
    font-size: 20px;
}

.addFilm form button:hover {
    border: 2px solid yellow;
    box-shadow: 0 0 5px 5px yellow;
    background-color: rgb(60, 71, 35);
    color: yellow;
}