@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel&family=Cormorant&family=Handlee&family=Marhey&display=swap');

.signup {
    margin-left: 50px;
    margin-top: 30px;
    background-color: rgba(11, 18, 41, 0.9);
    width: 25%;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 5px 5px white;
    height: 320px;
}

.signup h2 {
    color: #ccc;
    padding: 15px 0;
    font-family: Cinzel;
    letter-spacing: 2px;
}

.signup form {
    max-width: 300px;
    min-height: 250px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.signup form input {
    width: 250px;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.signup form button {
    width: 130px;
    padding: 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    font-family: Cinzel;
    font-weight: bold;
    letter-spacing: 2px;
}

.signup form button:hover {
    font-weight: 100;
    box-shadow: 0 0 5px 5px white;
    background-color: rgba(11, 18, 41, 0.9);
    color: aliceblue;
}